.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #4260B5;
    color: rgb(0, 0, 0);
  }
  
  p{
    font-size: 170%;
    font-style: arial;
    
    font-weight: 50;
    font-family:Arial, Helvetica, sans-serif;
    ///salida
    -webkit-animation:fade-out 1s ease-out 2s both;
            animation:fade-out 1s ease-out 2s both;
  }


  .animacionInicial{
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  

  .img{
    -webkit-animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
    animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
  }

///ANIMACION IMG
@-webkit-keyframes scale-out-vertical {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-vertical {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
  }
  



///ANIMACION LETRAS
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


///ANIMACION FADE OUT (SALIDA)
@-webkit-keyframes fade-out{
    0% { opacity:1}
    100%{opacity:0}
  }
  @keyframes fade-out{
    0%{opacity:1}
    100%{opacity:0}
  }
  


///SPINNER
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }