<link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>


<ion-fab vertical="top" horizontal="start" slot="fixed" routerLink="/login">
  <ion-fab-button color="danger">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>
  <ion-card class="boton aulaA" (click)="elegirAula('mensajes4a')">
    <p class="texto">PPS-4A</p>
  </ion-card>
  <ion-card class="boton aulaB" (click)="elegirAula('mensajes4b')">
    <p class="texto">PPS-4B</p>
  </ion-card>
</ion-content>