#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-67%);
  background-color: rgba(252, 252, 252, 0.555);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;
 
}
#container a {
  text-decoration: none;
}

#msjError {

color: red;
animation: shakeX 1s;

}

ion-content.background {
  --background: url('../../assets/kid.jpg')  center center fixed no-repeat;
  background-size: contain;

}

.titulo
{
  font-size: 45px;
font-family:'Learning';
animation:  'animate__tada' fill-mode;
color: #415E5C;

}

.btnLogin
{
  color: black;

}

:host {
  ion-item {
      --border-color:#3DD67A; // default underline color
      --highlight-color-invalid: red; // invalid underline color
      --highlight-color-valid:#3DD67A; // valid underline color
 
      --color-activated: #3DD67A;
  }
}

.labelInput{

  color: black!important;
}