ion-card{
  *{
    color: white;
  }
  ion-card-title{
    margin-top: 20px;
  }
  //position: fixed;
  border-radius: 10%;
  top: 5%;
  
  width: auto;
  height: 17em;

  //align-items: center;
  background-color: rgba(31, 28, 28, 0.849);

  .txtVerificacion{
    font-size: 100%;
    margin-left: 40%;
  }
}

ion-content.background {
  --background:  #4EC0CB;


}

ion-grid{
  ion-row{
    //align-items: center;
    margin-top: 50%;
    margin-left: 25%;
  }

#btnStart, #btnStop{
  //position: absolute;
  
  //margin-top: 60%;
  //margin-left: 20%;
  color: rgb(255, 255, 255);
  border-radius: 10%;

}


#btnStart{
  background-color: rgba(155, 7, 7, 0.733);
  width: 13em;
  height: 13em;


}

#btnStop{    
  background-color: rgba(20, 128, 8, 0.733);  
  width: 13em;
  height: 13em;

}
.textInfo{
  color: white;
  font-size: 140%;
}

}

