<ion-content [fullscreen]="true" padding class="background">


  <ion-grid *ngIf="!showDialog">
    <ion-row>
      <ion-col size="12">
        <br>
        <ion-icon *ngIf="presionado" name="pause" id="btnStart" (click)="btnActivarODesactivar()"></ion-icon>
        <br>
       
        <ion-icon *ngIf="!presionado" name="play-outline" id="btnStop" (click)="btnActivarODesactivar()"></ion-icon>


      </ion-col>
    </ion-row>
    <br>
  </ion-grid>


  
  <ion-card *ngIf="showDialog">
    <ion-card-header>
      <ion-card-title>Ingrese su clave para detener</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="none">
        <ion-input class="centrado" type='password' placeholder="Clave" [(ngModel)]="clave" name="password" required>
        </ion-input>

      </ion-item>
      <!---Esperando clave-->
      <!--<ion-icon *ngIf="estado==''" class="btnVerificacion" id="btnVerificar" name="key-outline"
        (click)="btnActivarODesactivar()"></ion-icon>-->
      <ion-label *ngIf="estado==''" class="txtVerificacion">Esperando clave!</ion-label>

      <!---Clave correcta-->
      <!--<ion-icon *ngIf="estado=='permitido'" class="btnVerificacion" id="btnSuccess" name="lock-open-outline"></ion-icon>-->
      <ion-label *ngIf="estado=='permitido'" class="txtVerificacion">Clave correcta!</ion-label>
      <!---Clave erronea-->
      <!--<ion-icon *ngIf="estado=='denegado'" class="btnVerificacion" id="btnFail" name="lock-closed-outline"></ion-icon>-->
      
      <ion-label *ngIf="estado=='denegado'" class="txtVerificacion">Clave equivocada!</ion-label>

      <ion-button shape="round" (click)="btnActivarODesactivar()" color="danger">Desactivar</ion-button>
      <ion-button shape="round" (click)="cancelarDesactivar()" color="warning">Cancelar</ion-button>
    </ion-card-content>
  </ion-card>