<ion-header style="background-color: #4761d4b3;" *ngIf="aulaSeleccionada=='mensajes4a'">
  <ion-icon id="iconBack" name="chevron-back-outline" routerLink="/home"></ion-icon>
  <p  id="titleGroup" class="PPS4A">División 4A</p>
</ion-header>
<ion-header style="background-color: #44a537b3 ;" *ngIf="aulaSeleccionada=='mensajes4b'">
  <ion-icon id="iconBack" name="chevron-back-outline" routerLink="/home"></ion-icon>
  <p id="titleGroup" class="PPS4B">División 4B</p>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row *ngFor="let item of this.listaMensajes | async">
      <ion-col size="9" *ngIf="item.usuario != this.usuarioActual"> 
        <ion-card>
          <ion-card-header class="cardHeader">
            <p class="infoNombre">{{item.usuario}}</p>
          </ion-card-header>
          <ion-card-content class="mensajeRecibido">
            {{item.mensaje}}
            <p class="info">{{item.dia}}</p>
          </ion-card-content> 
        </ion-card>
      </ion-col>
      <ion-col offset="3" size="9" *ngIf="item.usuario == this.usuarioActual">
        <ion-card class="miMensaje">
          <ion-card-content>
            {{item.mensaje}}
            <p class="info"> {{item.dia}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer style="background-color: #4761d4b3;" *ngIf="aulaSeleccionada=='mensajes4a'">
  <ion-input placeholder="Escribe un mensaje aqui" (keyup)="onKey($event)" [(ngModel)]="this.mensaje"></ion-input>
  <ion-icon type="submit" (click)="EnviarMensaje()" name="send" id="sendButton"></ion-icon>
</ion-footer>
<ion-footer style="background-color: #44a537b3 ;" *ngIf="aulaSeleccionada=='mensajes4b'">
  <ion-input placeholder="Escribe un mensaje aqui" (keyup)="onKey($event)" [(ngModel)]="this.mensaje"></ion-input>
  <ion-icon *ngIf="mensaje" type="submit" (click)="EnviarMensaje()" name="send" id="sendButton"></ion-icon>
</ion-footer>