#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color:rgba(36, 131, 91, 0.836);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#msjError {

color: red;
animation: shakeX 1s;

}

ion-content.background {
  --background: url('../../assets/finan.jpg')   center no-repeat;
  background-size: contain;

}

.titulo
{
  font-size:40px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
animation:  'animate__tada' fill-mode;
color:#008773;

}

.btnLogin
{
  color: black;

}

:host {
  ion-item {
      --border-color: black; // default underline color
      --highlight-color-invalid: red; // invalid underline color
      --highlight-color-valid: #008773; // valid underline color
  }
}
