

*{
  margin: 0;
  padding: 0;
}


ion-button{
  width: 100%;
  height: 31.33333333vh;
  border: 2px solid black;

}

ion-img{
  width: 100%;
  height: 18.03333333vh;
}

.tool{
  --min-height:20%!important;

  }


  
