<ion-content >

  <ion-toolbar class="tool">

    <ion-fab-button size="small" color="danger"  (click)="salir()" style="margin: auto;"><ion-icon name="exit"></ion-icon></ion-fab-button>



  </ion-toolbar>

  <ion-fab horizontal="start" vertical="top" >
    <ion-fab-button  size="large">
      <ion-icon src={{manejadora.pathFotoIdioma}}></ion-icon>
    </ion-fab-button>  
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="CambiarIdioma('español')"><ion-icon src="assets/banderas/españa.svg"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="CambiarIdioma('ingles')"><ion-icon src="assets/banderas/eeuu.svg"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="CambiarIdioma('portugues')"><ion-icon src="assets/banderas/brasil.svg"></ion-icon></ion-fab-button>      
    </ion-fab-list>
  </ion-fab>


  <ion-fab horizontal="end" vertical="top" >
    <ion-fab-button  size="large">
      <ion-icon src={{manejadora.pathFotoJuego}}></ion-icon>
    </ion-fab-button>  
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="CambiarJuego('colores')"><ion-icon src="assets/colores/icon.svg"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="CambiarJuego('numeros')"><ion-icon src="assets/numeros/icon.svg"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="CambiarJuego('animales')"><ion-icon src="assets/animales/icon.svg"></ion-icon></ion-fab-button>      
    </ion-fab-list>
  </ion-fab>


  <body style="background-color: #415E5C;">
    
        <ion-grid >      
          <ion-row >
            <ion-col size="6" size-lg *ngFor="let unCuadro of manejadora.listaCuadros">
                <ion-button color={{unCuadro.colorBoton}} expand="block"  (click)="Reproducir(unCuadro.pathSonido)">
                  <ion-grid>
                    <ion-row *ngIf="!(manejadora.tipoJuego==0 || manejadora.tipoJuego=='colores')">
                      <ion-col>
                        <ion-img src={{unCuadro.pathFoto}}></ion-img>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                    </ion-row>
                  </ion-grid>
                </ion-button>
            </ion-col>
    
          </ion-row>
        </ion-grid>
    
    
  </body>
  

</ion-content>

<ion-footer>


</ion-footer>
