

<ion-content [fullscreen]="true" padding class="background" >


  <div id="container" >


<!-- 
    <img src="../assets/rpng.png" height='300px'> -->

    <strong>
      <h1 class="titulo animate__animated animate__tada">{{titulo}}</h1>
    </strong>

    <ion-item>
      <ion-label position="fixed">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>

    </ion-item>
    <br>


    <ion-item>
      <ion-label position="fixed">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
    </ion-item>
    <br>

    <div id="errorLogin">
      <h6 id="msjError"></h6>
    </div>

    <br>

    <ion-button color="dark"  expand="block" (click)=onLogin() class=" btnLogin animate__animated  animate__backInLeft ">Iniciar Sesión</ion-button>
    <br>



  </div>
</ion-content>


