<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button fill="clear" class="botonLindo" expand="full" fill="clear" (click)="cosasLindas()">
          <h2>Cosas LINDAS del edificio</h2>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button fill="clear" class="botonFeo" expand="full" fill="clear" (click)="cosasFeas()">
          <h2>Cosas FEAS del edificio</h2>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

