<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="solid" size="default" color="light" (click)="Logout()" style="margin: 10px;">Cerrar Sesión
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <h5 class="credito">Crédito disponible:</h5>

      <div id="credito" *ngIf="esconder">
        <h1 class="credito">${{unUsuario.credito}} <ion-icon name="eye" (click)="esconderCreditos()"></ion-icon>
        </h1>
      </div>

      <div id="credito" *ngIf="esconder==false">
        <h1 class="credito">$****<ion-icon name="eye-off" (click)="esconderCreditos()"></ion-icon>
        </h1>
      </div>
      <br>
      <ion-button (click)="eliminarCreditos()">Eliminar creditos</ion-button>
    </ion-card-header>
  </ion-card>
  <div class="historial">
    <ion-card>
      <ion-card-header>
        Ingreso $50 15:30
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        Ingreso $5 14:20
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        Ingreso $100 12:18
      </ion-card-header>
    </ion-card>
  </div>

  <ion-card>
    <div *ngIf="scannedBarCode">
        <ion-item>
         Monto: <strong>{{ this.monto }}</strong>
      </ion-item>
      <ion-item>
        Credito: <strong>{{ this.unUsuario.credito}}</strong>
    </ion-item>
        <ion-fab-button color="primary" (click)="CargarCredito()">
        </ion-fab-button>
    </div>
  </ion-card>



</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="primary" (click)="scanBRcode()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>




